.jumbotron-personal {
  background-color: rgb(38, 170, 172);
  background-size: cover;
  padding-top: 7.5em;
  height: 350px;
  margin-bottom: 2em;
  text-align: center;
}

.jumbotron-personal > h1 {
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-size: 62px;
  font-weight: 800;
  line-height: 100px;
  margin: 0 0 24px;
  text-align: center;
}

div:first-child.fadeInLeft {
  animation-delay: 0.3s;
}

div:nth-child(2).fadeInLeft {
  animation-delay: 0.7s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0); }
}

.container-personal > .row > .col-md-4 > div > img  {
  border-radius: 10px;
  border-width: 2px;
  border-color: rgba(230, 230, 230);
  padding: 0;
  max-width: 100%;
  max-height: auto;
}

.container-personal > .row > .col-md-4 > div > img:hover {
  transition: 0.5s ease;
  box-shadow: 0 0 5px 5px rgba(0, 140, 186, 0.2);
}

.image-personal > img {
  margin-top: 20px;
}

.image-programming > img {
  margin-top: 60px;
}

.image-hobbies > img {
  margin-top: 25px;
}

.container-personal > .row{
  background: rgb(219, 239, 240);
  border-radius: 25px;
  margin-bottom: 30px;
}

.container-personal > .row > .col-md-8 > h2 {
  color: rgb(17,96,98);
  font-family: 'Raleway',sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 ;
  text-align: left;
  text-transform: uppercase;
}

.container-personal > .row > .col-md-8 > p {
  color: rgb(69,116,135);
  font-family: 'Raleway',sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 24px;
}
