.jumbotron-projects {
  background-image: url("../images/jumbotron-projects.gif");
  background-size: cover;
  background-position: 0px -7.8vw;
  height: 39vw;
  width: 100%;
  margin-bottom: 2em;
  text-align: center;
  animation: back-change 0.5s linear;
  animation-delay: 2s;
  animation-fill-mode:forwards;
  z-index: -1;
}

.title-projects > h1 {
  color: rgb(211,211,211);
  font-family: 'Raleway',sans-serif;
  font-size: 4.1vw;
  font-weight: 800;
  line-height: 6.5vw;
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 13vw;
  z-index: 2;
}

@keyframes back-change {
   from { filter: brightness(100%); }
     to { filter: brightness(20%); }
}

.title-projects > h1 > .title1-projects.fadeInLeft-custom {
  animation-delay: 2.5s;
}

.title-projects > h1 >  .title2-projects.fadeInLeft-custom {
  animation-delay: 2.9s;
}

.heading-projects.fadeIn {
  animation-duration: 0.4s;
}

.container-projects > .row{
  background: #ECEAE0;
  border-radius: 25px;
  margin-bottom: 30px;
  padding-left: 10px;
}

.container-projects > :first-child {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-projects > .row > [class^="col-md"] > h2, .container-projects > .row > h2 {
  color: #221E1D;
  font-family: 'Raleway',sans-serif;
  font-size: 30px;
  font-weight: 800;
  margin: 0 0 ;
  text-align: left;
  text-transform: uppercase;
  line-height: normal;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container-projects > .row > [class^="col-md"] > p, .container-projects > .row > p {
  color: #221E1D;
  font-family: 'Raleway',sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 24px;
}

.container-projects > .row > [class^="col-md"] > div > img  {
  border-radius: 10px;
  border-width: 2px;
  border-color: rgba(230, 230, 230);
  padding: 0;
  max-width: 100%;
  max-height: auto;
}

.container-projects > .row > [class^="col-md"] > div > img:hover {
  transition: 0.5s ease;
  box-shadow: 0 0 5px 5px rgba(0, 140, 186, 0.2);
}

.image-project1_1 {
  margin-top: 80px;
}

.image-project1_2 {
  margin-top: 80px;
}

@media only screen and (max-width: 991px) {
  .image-project1_1 {
    margin-top: 20px;
  }

  .image-project1_2 {
    margin-top: 0;
  }
}


.row > div > hr {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
  border-style: inset;
  border-width: 1px;
}

.col-md-12 > iframe {
  height: 31.9vw;
  width: 56vw;
}

.project2_poster_modal {
  width: 1200px;
}

.project2_poster {
  position: relative;
  width: 350px;
}

.project2_poster_small {
  height: 100%;
  width: 100%;
}

.project2_poster > .overlay {
  position: absolute;
  border-radius: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.project2_poster > .overlay:hover {
  background-color: black;
  opacity: 0.5;
}

.project2_poster > .overlay > h2 {
  color: white;
  text-align: center;
  line-height: 605px;
  padding: 0;
  margin: 0;
}

.project2_poster_large{
  width: 1000px;
  height: auto;
}

@media only screen and (max-width: 455px) {
  .project2_poster {
    position: relative;
    width: 75vw;
  }

  .project2_poster > .overlay > h2 {
    font-size: 6.5vw;
    line-height: 120vw;
  }
}
